body{
    height: 100vh;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn{
    display: inline-block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #fff;
    margin: 5px;
    transition: background-color 0.5s;
}
.btn:hover{
    transition: background-color 0.5s;
}

.btn-amarillo{
    background-color: #FFA726;
}
.btn-amarillo:hover{
    background-color: #FFB447;
}
.btn-Verde{
    background-color: #7CB342;
}
.btn-Verde:hover{
    background-color: #90BE5E;
}
.btn-Celeste{
    background-color: #29B6F6;
}
.btn-Celeste:hover{
    background-color: #49C1F7;
}

.u-shadowAmarillo{
    border-bottom: 4px solid #FB8C00;
}
.u-shadowVerde{
    border-bottom: 4px solid #689F38;
}
.u-shadowCeleste{
    border-bottom: 4px solid #039BE5;
}

.btn-bordeSmall{
    border-radius: 5px;
}
.btn-borderBig{
    border-radius: 40px;
}
